@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://basehold.it/25"); /* Use this to get horizontal gridline to see baseline. The value at the end specifies the line-height */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*  Base Styles
  - Almost always element selectors (html, h1, p, etc.)
  - Almost always aimed at typography, typogrphic grid and colors
  - Almost always mobile-first styles
*/

/*
  Setting type according to a 3:4 (Major Third) Modular Scale:
  https://www.modularscale.com/?18&px&1.25
*/
html {
  /* If the font on the left is not present for the browser then try the next one*/
  font-family: Montserrat, Arial, Courier, "Times New Roman", Times, sans-serif;
  font-size: 18px;/* 1.125em; /* Convert the wanted default px height of 18 by the standard default of 16px to get our em value i.e. 18px/16px = 1.125em */
  line-height: 25px;/* 1.389em; /* We have a new context so convert this based on the font-size default we wanted of 18px i.e. 25px/18px = 1.389em */
  padding: 25px 12.5px 25px 12.5px;/* 1.389em 0.694em 1.389em 0.694em; /* TRBL 25px/18px, 12.5px/18px, 25px/18px, 12.5px/18px */
  color: #333;
}

h1 {
  font-weight: 700;
  font-size: 43.945px; /* 2.441em; /* 43.945px/18px = 2.441em */
  line-height: 50px; /* 31.25px/43.945px = 0.711em*/
}

/* Layout Styles
  - Almost always ID selectors (#header, #content, #footer, etc.)
  - Almost exclusively aimed at layout (padding/margin, grid, flexbox, etc.)
  - Initially mobile-first styles
*/

#header {
  padding-bottom: 25px;
}

#home-nav {
  padding-bottom: 25px;
  text-align: center;
}

/* Modular Styles
  - Almost always either class selectors or relationship selectors (.information, #header ul, etc.)
  - Almost always aimed at decorative flourishes (borders, backgrounds, special presentation of groups of elements)
*/

#home-nav li {
  padding-bottom: 5px;
}

#home-nav a {
  display: block;
  text-decoration: none;
  background: #333;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

#home-nav a:hover {
  background-color: #909090;
}

#footer {
  font-size: 14px;
}

/* State Styles
  - Two basic states: media queries, or JavaScript-based styles
  - The states, particularly media queries, often take the order of Base, Layout, and Modular styles within them.
  - For JavaScript, the selectors will primarily if not exclusively consist of class selectors (.active, .hidden, .featured)
*/

@media screen and (min-width: 300px) {
  #home {
    text-align: center;
  }
}

@media screen and (min-width: 545px) {
  #home-nav li {
    display: inline-block;
  }
}
